#content
  .left.column
    %h4 products
    %ul
    - @products.each do |product|
      %li
        = link_to "#{product.title}", product_path(product)
        %br
        = product.description
        - product.categories.each do |category|
          = link_to "#{category.name}", category_path(category)
