%p
  %h3
    title
  = @product.title

- unless @product.photo.file.nil?
  %p
    = image_tag @product.photo.url
    %br
    = @product.photo_identifier

%p
  %h3
    Description
  = @product.description
%br
%aside
  created by
  = @product.user
  = time_ago_in_words(@product.created_at)
  ago
%br
%p
  %h3
    Categories
  - @product.categories.each do |category|
    = category.name

- if user_signed_in?
  = link_to 'edit', edit_product_path(@product)
  = link_to 'destroy', product_path(@product), method: :delete, data: { confirm: "delete product?" }
