%p
  title
  = @product.title
%br
%p
  Description
  = @product.description
%br
%span
  created by
  = @product.user
  = time_ago_in_words(@product.created_at)
  ago
%br
%p
  Categories
  - @product.categories.each do |category|
    = category.name
